body {
    background-color: bisque;
    color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

p {
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(250, 100, 50, 0.5);
}